Package: com.jjacksdaniel.bliize
Name: Bliize
Version: 1.1
Architecture: iphoneos-arm
Description: A theme with beautiful boho pastel colors!
Author: JJackDaniel
Maintainer: JJackDaniel
Section: Themes
Depends: com.spark.snowboard
