Package: com.jjacksdaniel.bliize
Name: Bliize
Version: 1.0.3
Architecture: iphoneos-arm
Description: A theme with beautiful boho pastel colors!
Author: JJacksDaniel
Maintainer: JJacksDaniel
Section: Themes
Depends: com.anemonetheming.anemone | com.spark.snowboard
